.LJG-col{
    width: 100% !important;
    height: 100% !important;
    .LJG-card .ant-card-head-title{
        text-align: center;
    }
    .LJG-card-p{
        text-indent: 2em !important;
        line-height: 30px;
    }
}
